body { min-height: 100vh; height: 100%; line-height: 1.75; font-size: 1em; font-family: sans-serif; background-color: #3d3d3d; }
body p.tx:first-child { margin-top: 0; }
body p.tx { position: relative; color: #fff; margin: 2em 0 0.5em 15px }
body p.tx::before { display: block; position: absolute; top: 4px; left: -15px; width: 5px; height: 1.3em; background: #2d95d9; content: ""; }
textarea { width: 420px; resize: vertical; padding: 5px; font-size: small; }
textarea, #result-text, input:first-child { box-shadow: 0px 1px rgba(255, 255, 255, 0.5); border-radius: 3px; border: solid 1px #ccc; }
.element:nth-child(2) { width: 420px }
#result-text { width: 380px; background: #fff; padding: 5px; margin: 0; font-size: small; }
input:first-child { width: 300px; resize: vertical; padding: 5px; font-size: 1.2em; }
.btn { cursor: pointer; min-width: 66px; height: 33px; margin: 0 0 1px 4px; border-radius: 3px; background: #389ddb; color: #fff; font-size: 1.3em; text-align: center; border: none; box-sizing: inherit; }
.btn:hover { background: #005a9d; }
#map { width: 500px; height: 400px; margin: 0 20px 0 0; }
.container { margin: 100px; display: flex; flex-direction: row wrap; justify-content: space-around; align-items: center; }
